body {
	font-family: calibri, sans-serif;
}

.background {
	background-color: rgb(27, 25, 15);
}

.noteSpiral {
	stroke: #444;
	fill: none;
}

.radial {
	stroke: #222;
	stroke-width: 13;
	fill: none;
}
.radial.keyNote {
	stroke: #555;
}

.gapCircle {
	stroke: none;
	fill: rgba(255,255,255,0);
}

.noteName {
	fill: rgb(166, 158, 118);;
}

.noteInKey {
	stroke: rgb(132, 127, 100);
	stroke-width: 2;
	fill: rgb(27, 25, 15);
}
.noteOffKey {
	stroke: rgba(132, 127, 100, .7);	
	stroke-width: 1;
	fill: rgb(27, 25, 15);
}
.notePlayed.noteInKey {
	stroke: rgb(132, 127, 100);	
	stroke-width: 1;
	fill: rgb(242, 237, 208);	
}
.notePlayed.noteOffKey {
	stroke: rgb(132, 127, 100); 
	stroke-width: 1;
	fill: hsl(51, 14%, 35%); 
}

.notePlayed.tonic {
	stroke: rgb(242, 237, 208);	
	stroke-width: 3;
	fill: rgb(27, 25, 15);
}

.gaps {
	stroke-opacity: .7;
	stroke-width: 13;
	stroke-linecap: round;
}
.gap1 {
	stroke: rgb(255, 192, 0);
}
.gap2 {
	stroke: rgb(255, 255, 0);
}
.gap3 {
	stroke: rgb(232, 18, 130); /* 0, 176, 240); */
}
.gap4 {
	stroke: rgb(75, 225, 63);
}
.gap5 {
	stroke: rgb(79, 129, 189);
}
.gap6 {
	stroke: rgb(228, 108, 10);
}